@import "../../.cache/wal/colors-gtk.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: @backgroundAlpha;
}

button {
    border-radius: 12;
	border-style: solid;
	border-width: 1px;
	margin: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
	border-color: @color0;
	background-color: @color0Alpha;
}

button:focus, button:active, button:hover {
	background-color: @color9;
	outline-style: none;
}

#empty {
	background-color: transparent;
	border-color: transparent;
}

#wallpaper {
    background-image: image(url("./random-svgrepo-com.svg"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#kill {
    background-image: image(url("./process-stop-svgrepo-com.svg"));
}